@media (max-width:767px) {
    body {
        width: auto;
        margin: 0;
        text-align: center;
    }

    main .featured {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    

    section .product-list {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        justify-content: center;
        align-items: center;
       
    }

    section .product {
        margin: 10px 50px;
        width: auto;
    }

    section #p-see-more {
        margin:0;
        padding-top: 50px;
        text-align: center;
    
    }

    section .l-s-content { 
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
    }
}

@media (min-width:768px) and (max-width:1023px){
    body {
        width: auto;
        margin: 0;
        text-align: center;
    }

    main .featured {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    

    section .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        justify-content: center;
        align-items: center;
       
    }

    section .product {
        margin: 10px 50px;
        width: auto;
    }

    section .l-s-content { 
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
    }   

}

body {
    font-family: quicksand;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E22E6D;
}

section {
    margin: 0;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    
}   

.featured-text a {
    background-color: #E22E6D;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
}

#featured-heading {
    font-size: 50px;
    margin-bottom: 30px;
}

#featured-paragraph {
    font-weight: 500;
    padding-bottom: 30px;
}

.popular-collection {
    margin-top: 150px;
    margin-bottom: 150px;
}

#pc-title {
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 365px);
    row-gap: 35px;
}

.product {
    width: 300px;
    margin-left: 150px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 0 0 30px lightgray;

}

.product-price {
    font-weight: 500;
}

.fa-star {
    color: orange;
}

.product span p {
    display: inline;
    margin-left: 10px;
}

#p-see-more {
    margin-right: 140px;
    padding-top: 50px;
    text-align: right;
}

.l-s-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    height: 400px;
}

.last-section ul li {
    list-style-type: none;
    padding-bottom: 30px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
   
}

